In [15]:
#google form excel
from selenium import webdriver
from webdriver_manager.chrome import  ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd

In [16]:
df =pd.read_excel('data.xlsx',dtype='object')
df

          Full name           Email Mobile number University/Organization
0         Steve Vai  sv@example.com    0980000001                 9expert
1        Gary Moore  gm@example.com    0980000002                 9expert
2      Joe Satriani  js@example.com    0980000003                 9expert
3      Eric Clapton  ec@example.com    0980000004                 9expert
4      Jimi Hendrix  jh@example.com    0980000005                 9expert
5        Jimmy Page  jp@example.com    0980000006                 9expert
6             Slash   s@example.com    0980000007                 9expert
7  Yngwie Malmsteen  ym@example.com    0980000008                 9expert
8    Carlos Santana  cs@example.com    0980000009                 9expert

In [17]:

service = Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=service)
driver.maximize_window()
url ='https://docs.google.com/forms/d/e/1FAIpQLSc0ebiBeGfl5k5jPf9lza7UPwNmcV1MK5ZBkbDoFHl19Qa_zQ/viewform'
driver.get(url)

In [18]:
for i in df.index:
    time.sleep(2)

    Fname= driver.find_element('xpath','//*[@id="mG61Hd"]/div[2]/div/div[2]/div[1]/div/div/div[2]/div/div[1]/div/div[1]/input')
    Fname.send_keys(df['Full name'][i])

    email = driver.find_element('xpath','//*[@id="mG61Hd"]/div[2]/div/div[2]/div[2]/div/div/div[2]/div/div[1]/div/div[1]/input')
    email.send_keys(df['Email'][i])
    
    phone = driver.find_element('xpath','//*[@id="mG61Hd"]/div[2]/div/div[2]/div[3]/div/div/div[2]/div/div[1]/div/div[1]/input')
    phone.send_keys(df['Mobile number'][i])

    uni = driver.find_element('xpath','//*[@id="mG61Hd"]/div[2]/div/div[2]/div[4]/div/div/div[2]/div/div[1]/div/div[1]/input')
    uni.send_keys(df['University/Organization'][i])
    #click
    submit = driver.find_element('xpath','//*[@id="mG61Hd"]/div[2]/div/div[3]/div[1]/div[1]/div/span')
    submit.click()
    driver.back()